*{
	padding: 0;
	margin: 0;
}

button{
	margin: 8px 2px;
}

div{
	margin-top: 20px;
	margin-left: 20px;
}

ul{
	margin-top: 10px;
	width: auto;
	height: auto;
	list-style-type: none;;
	display: block;
}

#clearTag1{
	height: 10px;
	width: 100%;
	clear: both;
}

#clearTag2{
 	height: 10px;
	width: 100%;
	clear: both;
}

li{
	background-color: pink;
	width: auto;
	height:30px;
	float: left;
	margin: 1px;
	text-align: center;
	line-height:30px;
	padding: 0px 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	border: 1px solid pink;
}



	